---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Now learning">
  <main>
    <h1>Now learning</h1>

    <article>Learning progress</article>
  </main>
</Layout>

<style></style>
