---
import Layout from "../../layouts/MainLayout.astro";
import About from "./about.mdx";
import SwissKnife from "../../assets/swiss_knife.svg?raw";
import DecoratedList from "../../components/DecoratedList.astro";

const socials = [
  {
    title: "GitHub",
    url: "https://github.com/ZdravkoKirilov",
  },
  {
    title: "LinkedIn",
    url: "https://www.linkedin.com/in/zdravko-kirilov/",
  },
  {
    title: "zdravkovasilchevkirilov@gmail.com",
    url: "mailto:zdravkovasilchevkirilov@gmail.com",
  },
];
---

<Layout title="About me">
  <main class="flex flex-col gap-12">
    <header class="flex items-start gap-12">
      <div class="text-primary w-[150px]">
        <Fragment set:html={SwissKnife} />
      </div>

      <section class="flex flex-col gap-8">
        <h2 class="text-xl font-bold tracking-wide">
          Zdravko Kirilov - Web Engineer
        </h2>

        <DecoratedList items={socials} />
      </section>
    </header>

    <article class="grow leading-loose max-w-articles tracking-wide about-main">
      <About />
    </article>
  </main>
</Layout>

<style is:global>
  .about-main ul {
    list-style: initial;
    padding: 16px;
    margin-left: 24px;
  }

  .about-main li {
    padding: 8px;
  }

  .about-main h3 {
    font-size: 1.25rem;
  }
</style>
