---
import { Image } from "astro:assets";

import Layout from "../../layouts/MainLayout.astro";
import About from "./about.mdx";
import Hero from "../../assets/hero.jpg";

const data = {
  name: "Zdravko",
  occupation: "Software Engineer",
  location: "Bulgaria",
};
---

<Layout title="About me">
  <main class="flex flex-col gap-16">
    <header class="flex items-start gap-12">
      <Image src={Hero} alt="Hero image" class="opacity-60 max-w-[200px]" />

      <div class="flex items-center">
        <pre
          class="text-primary text-2xl font-bold tracking-wide">{JSON.stringify(data, null, 2)}</pre>
      </div>
    </header>

    <article class="grow leading-loose">
      <About />
    </article>
  </main>
</Layout>

<style></style>
