---
import { getCollection } from "astro:content";

import CraftLayout from "../../layouts/CraftLayout.astro";
import Card from "./Card.astro";
import { paths } from "../../paths";
import CardsList from "../CardsList.astro";

const projectsList = await getCollection("projects").then((items) =>
  items.sort((a, b) => a.data.order - b.data.order)
);
---

<CraftLayout title="Learnings">
  <main class="grow">
    <CardsList>
      {
        projectsList.map(async (learn) => {
          return (
            <li class="flex">
              <Card
                title={learn.data.display_name}
                experience={7}
                skills={6}
                technologies={2}
                url={paths.projectDetails(learn.data.id)}
                className="grow"
              />
            </li>
          );
        })
      }
    </CardsList>
  </main>
</CraftLayout>
