---
import Card from "../../../components/SkillCard.astro";
import CraftLayout from "../../../layouts/CraftLayout.astro";
---

<CraftLayout title="Projects">
  <main>
    <ul class="flex flex-row gap-12 flex-wrap list-none m-0">
      <li class="flex basis-auto">
        <Card
          title="UI/UX literacy"
          experience={7}
          projects={6}
          technologies={7}
          className="grow"
        />
      </li>

      <li class="flex basis-auto">
        <Card
          title="Accessibility"
          experience={7}
          projects={6}
          technologies={7}
          className="grow"
        />
      </li>

      <li class="flex basis-auto">
        <Card
          title="Front end architecture"
          experience={7}
          projects={6}
          technologies={7}
          className="grow"
        />
      </li>

      <li class="flex basis-auto">
        <Card
          title="Fullstack development"
          experience={7}
          projects={6}
          technologies={7}
          className="grow"
        />
      </li>

      <li class="flex basis-auto">
        <Card
          title="Design systems"
          experience={7}
          projects={6}
          technologies={7}
          className="grow"
        />
      </li>

      <li class="flex basis-auto">
        <Card
          title="Automated testing"
          experience={7}
          projects={6}
          technologies={7}
          className="grow"
        />
      </li>

      <li class="flex basis-auto">
        <Card
          title="Mentoring & Code reviews "
          experience={7}
          projects={6}
          technologies={7}
          className="grow"
        />
      </li>
    </ul>
  </main>
</CraftLayout>

<style></style>
