---
import type { TotalYears } from "../../utils/dates";
import CardContent from "../CardContent.astro";
import CardCta from "../CardCta.astro";
import VerticalSummary from "../VerticalSummary.astro";

interface Props {
  title: string;
  experience: TotalYears;
  projects: number;
  courses: number;
  url: string;
  className?: string;
}

const { experience, projects, title, className, courses, url } = Astro.props;
---

<div
  class=`bg-card rounded p-4 flex flex-col gap-6 justify-between ${className}`
>
  <header>
    <h2 class="font-bold text-xl">{title}</h2>
  </header>

  <CardContent>
    <div>
      <VerticalSummary
        items={[
          {
            count: experience.years,
            forms: ["year", "years"],
          },
          {
            count: projects,
            forms: ["project", "projects"],
          },
          {
            count: courses,
            forms: ["course", "courses"],
          },
        ]}
      />
    </div>

    <p>
      <CardCta url={url} />
    </p>
  </CardContent>
</div>

<style></style>
