---
import type { Skill } from "../../content/_skill";
import CraftLayout from "../../layouts/CraftLayout.astro";

type Props = {
  skill: Skill;
};

const { skill } = Astro.props;
---

<CraftLayout title={skill.display_name}>
  <div>{skill.display_name}</div>
  <slot />
</CraftLayout>
