---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to my site!</h1>

    <nav>
      <ul>
        <li><a href="/about">About me</a></li>
        <li><a href="/bio">Bio</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/learning">Now learning</a></li>
        <li><a href="/blog">Thoughts</a></li>
      </ul>
    </nav>
  </main>
</Layout>

<style></style>
