---
import chevronUpIcon from "../../../assets/icons/chevron-up.svg?raw";
---

<details class="bg-card p-4 w-full">
    <summary class="remove-marker no-toggling">
        <header class="flex gap-4 justify-between items-center">
            <slot name="header" />

            <div
                class="bg-none border-none toggler text-primary flex gap-2 items-center"
            >
                <span>Show more</span>
                <div class="max-w-[20px] chevron-icon">
                    <Fragment set:html={chevronUpIcon} />
                </div>
            </div>
        </header>
    </summary>

    <slot name="content" />
</details>

<style>
    .remove-marker {
        list-style: none;
    }
    .remove-marker::marker {
        display: none;
    }
    .no-toggling {
        pointer-events: none;
    }
    .toggler {
        pointer-events: auto;
        cursor: pointer;
    }
    details .chevron-icon {
        will-change: transform;
        transition: transform 0.15s ease-in-out;
    }
    details[open] .chevron-icon {
        transform: rotate(180deg);
    }
</style>
