---
import chevronUpIcon from "../assets/icons/chevron-up.svg?raw";
---

<details class="w-full">
  <summary class="remove-marker">
    <header class="flex gap-4 justify-between items-center">
      <slot name="header" />

      <div class="bg-none border-none text-primary flex gap-2 items-center">
        <span class="more">Show more</span>
        <span class="less">Show less</span>
        <div class="max-w-[20px] chevron-icon">
          <Fragment set:html={chevronUpIcon} />
        </div>
      </div>
    </header>
  </summary>

  <slot name="content" />
</details>

<style>
  .less {
    display: none;
  }
  summary {
    cursor: pointer;
  }
  .remove-marker {
    list-style: none;
  }
  .remove-marker::marker {
    display: none;
  }
  details .chevron-icon {
    will-change: transform;
    transform: rotate(180deg);
    transition: transform 0.15s ease-in-out;
  }
  details[open] .chevron-icon {
    transform: rotate(0deg);
  }
  details[open] .more {
    display: none;
  }
  details[open] .less {
    display: initial;
  }
</style>
