---
import classNames from "classnames";

type Item = {
  title: string;
  url?: string;
};

type Props = {
  items: Item[];
  className?: string;
};

const { items, className } = Astro.props;
---

<article class="flex flex-col">
  <header class="text-xs">
    <slot name="header" />
  </header>

  <ul
    class={classNames("list-none m-0 p-0 flex items-center gap-3", className)}
  >
    {
      items.map((item, index) => (
        <li class="flex gap-3 flex-wrap items-center">
          {index > 0 && <div class="w-[5px] h-[5px] rounded-full bg-primary" />}
          {item.url ? (
            <a href={item.url} class="underline">
              {item.title}
            </a>
          ) : (
            <span>{item.title}</span>
          )}
        </li>
      ))
    }
  </ul>
</article>
