---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/").at(1);
---

<nav>
  <ul class="flex flex-row text-nav gap-nav">
    <li>
      <div class="px-2">
        <a href="/">Home</a>
      </div>

      <div class={!currentPath ? "h-0.5 w-full bg-primary" : ""}></div>
    </li>

    <li>
      <div class="px-2">
        <a href="/skills">My craft</a>
      </div>

      <div class={currentPath === "skills" ? "h-0.5 w-full bg-primary" : ""}>
      </div>
    </li>

    <li>
      <div class="px-2">
        <a href="/about">About me</a>
      </div>

      <div class={currentPath === "about" ? "h-0.5 w-full bg-primary" : ""}>
      </div>
    </li>

    <li>
      <div class="px-2">
        <a href="/blog">Blog</a>
      </div>

      <div class={currentPath === "blog" ? "h-0.5 w-full bg-primary" : ""}>
      </div>
    </li>
  </ul>
</nav>
