---
import { paths } from "../paths";
import NavLink from "./NavLink.astro";
---

<nav>
  <ul class="flex flex-row flex-wrap text-nav gap-nav serif">
    <NavLink type="top" path={paths.home}>Home</NavLink>

    <NavLink type="top" path={paths.craft}>My craft</NavLink>

    <NavLink type="top" path={paths.about}>About me</NavLink>

    <NavLink type="top" path={paths.blog}>Blog</NavLink>
  </ul>
</nav>
