---
import cx from "classnames";
import {
  isTopPathActive,
  isCraftPathActive,
  type TopPath,
  type CraftPath,
} from "../paths";

type Props =
  | {
      type: "top";
      path: TopPath;
      center?: undefined;
      className?: string;
    }
  | { type: "craft"; path: CraftPath; center?: boolean; className?: string };

const pathname = new URL(Astro.request.url).pathname;
const { type, path, center, className } = Astro.props;

const isActive =
  type === "top"
    ? isTopPathActive(pathname, path)
    : isCraftPathActive(pathname, path);
---

<li
  class={cx(
    {
      "text-primary": isActive,
      "self-center": center,
      "self-start": !center,
    },
    className
  )}
>
  <div class="px-2">
    <a href={path}><slot /></a>
  </div>

  <div
    class={cx({
      "h-0.5 w-full bg-primary": isActive,
    })}
  >
  </div>

  <slot name="subnav" />
</li>
