---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/")[2];
---

<nav>
  <ul class="flex flex-col text-side-nav gap-side-nav pl-2">
    <li class="self-start">
      <div class="pr-2">
        <a href="/craft/skills">Skills</a>
      </div>

      <div class={currentPath === "skills" ? "h-0.5 w-full bg-primary" : ""}>
      </div>
    </li>

    <li class="self-start">
      <div class="pr-2">
        <a href="/craft/tech">Tech</a>
      </div>

      <div class={currentPath === "tech" ? "h-0.5 w-full bg-primary" : ""}>
      </div>
    </li>

    <li class="self-start">
      <div class="pr-2">
        <a href="/craft/projects">Projects</a>
      </div>

      <div class={currentPath === "projects" ? "h-0.5 w-full bg-primary" : ""}>
      </div>
    </li>

    <li class="self-start">
      <div class="pr-2">
        <a href="/craft/learning">Learning</a>
      </div>

      <div class={currentPath === "learning" ? "h-0.5 w-full bg-primary" : ""}>
      </div>
    </li>

    <li class="self-start">
      <div class="pr-2">
        <a href="/craft/work">Work</a>
      </div>

      <div class={currentPath === "work" ? "h-0.5 w-full bg-primary" : ""}>
      </div>
    </li>
  </ul>
</nav>
