---
import classNames from "classnames";

import { type Post } from "../../content/_blog-post";
import { paths } from "../../paths";
import DecoratedList from "../DecoratedList.astro";
import { toDisplayDate } from "../../utils/dates";

interface Props {
  post: Post;
  className?: string;
}

const { post, className } = Astro.props;

const tags = post.tags.map((tag) => ({
  title: tag,
}));
---

<div
  class={classNames(
    "pt-item pb-item border-b-2 border-card border-solid grow items-center",
    className
  )}
>
  <div class="flex gap-6 justify-between items-center">
    <div class="flex flex-col gap-4">
      <a href={paths.post(post.id)} class="underline">
        <h2>{post.display_name}</h2>
      </a>
      <DecoratedList items={tags} gapSize="small"/>
    </div>

    <div class="flex flex-col gap-4 text-sm items-end">
      <span>{toDisplayDate(post.created_on)}</span>
      <span>3 minute read</span>
    </div>
  </div>
</div>

<style></style>
