---
import type { Tech } from "../../content/_tech";
import CraftLayout from "../../layouts/CraftLayout.astro";

type Props = {
  tech: Tech;
};

const { tech } = Astro.props;
---

<CraftLayout title={tech.display_name}>
  <div>{tech.display_name}</div>
  <slot />
</CraftLayout>
