---
import { getCollection } from "astro:content";

import CraftLayout from "../../layouts/CraftLayout.astro";
import Card from "./Card.astro";
import { paths } from "../../paths";
import CardsList from "../CardsList.astro";
import classNames from "classnames";
import { TechId } from "../../content/_tech";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/tech/*.{svg,jpeg,jpg,png,gif}"
);

const techList = await getCollection("tech").then((items) =>
  items.sort((a, b) => a.data.order - b.data.order)
);
---

<CraftLayout title="Technologies">
  <main class="grow">
    <CardsList>
      {
        techList.map(async (tech) => {
          const loadImage = images[tech.data.image_path];

          if (!loadImage) {
            throw new Error("No image found for " + tech.data.image_path);
          }
          const image = await loadImage();

          return (
            <li class="flex">
              <Card
                title={tech.data.display_name}
                image={image.default}
                experience={7}
                projects={6}
                url={paths.techDetails(tech.data.id)}
                className="grow"
                imageClassName={classNames({
                  "max-w-[35px]": tech.data.id === TechId.MongoDB,
                })}
              />
            </li>
          );
        })
      }
    </CardsList>
  </main>
</CraftLayout>
