---
import { getCollection } from "astro:content";
import resolveConfig from "tailwindcss/resolveConfig";

import tailwindConfig from "../../../tailwind.config";
import CraftLayout from "../../layouts/CraftLayout.astro";
import Card from "./Card.astro";
import { paths } from "../../paths";

const listGap = resolveConfig(tailwindConfig).theme.spacing.list;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/tech/*.{svg,jpeg,jpg,png,gif}"
);

const techList = await getCollection("tech");
---

<CraftLayout title="Technologies">
  <main class="grow">
    <ul class="zs-grid list-none m-0">
      {
        techList.map(async (tech) => {
          const loadImage = images[tech.data.image_path];

          if (!loadImage) {
            throw new Error("No image found for " + tech.data.image_path);
          }
          const image = await loadImage();

          return (
            <li class="flex">
              <Card
                title={tech.data.display_name}
                image={image.default}
                experience={7}
                projects={6}
                url={paths.tech(tech.data.id)}
                className="grow"
              />
            </li>
          );
        })
      }
    </ul>
  </main>
</CraftLayout>

<style define:vars={{ listGap }}>
  .zs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: var(--listGap);
  }
</style>
