---
import "../styles/global.css";
import MainNavigation from "../components/MainNavigation.astro";
import CombinedNavigation from "../components/CombinedNavigation.astro";
import { paths } from "../paths";
import logo from "../assets/logo.png";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>
      {title}
    </title>
  </head>

  <body class="p-6 sm:p-12 text-default bg-background container mx-auto">
    <main>
      <aside
        class="flex flex-col sm:hidden fixed left-0 top-0 right-0 z-10 bg-card p-4 shadow-md"
      >
        <div class="flex justify-between gap-6">
          <a href={paths.home}>
            <img src={logo.src} alt="Logo" class="max-w-[40px]" />
          </a>

          <button
            class="self-end bg-none border-default border border-solid rounded px-4 py-2 text-default cursor-pointer active:text-white zs-hidden zs-button"
            >Close</button
          >
          <button
            class="self-end bg-none border-default border border-solid rounded px-4 py-2 text-default cursor-pointer active:text-white zs-button"
            >Menu</button
          >
        </div>

        <div class="zs-slided-out zs-nav">
          <CombinedNavigation />
        </div>
      </aside>

      <header class="hidden sm:block">
        <MainNavigation />
      </header>

      <div class="mt-20 sm:mt-12">
        <slot />
      </div>
    </main>
  </body>
</html>

<style>
  .zs-nav {
    height: auto;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    transform: translateX(0);
  }
  .zs-slided-out {
    height: 0;
    transform: translateX(calc(-100%));
  }
  .zs-hidden {
    display: none;
  }
</style>

<script>
  function toggleClasses() {
    const buttons = document.querySelectorAll(".zs-button");
    const nav = document.querySelector(".zs-nav");

    buttons.forEach((elem) => elem.classList.toggle("zs-hidden"));
    nav?.classList.toggle("zs-slided-out");
  }

  document
    .querySelectorAll(".zs-button")
    .forEach((btn) => btn.addEventListener("click", toggleClasses));
</script>
