---
import { getCollection } from "astro:content";
import rocketIcon from "../../assets/icons/rocket.svg?raw";

import CraftLayout from "../../layouts/CraftLayout.astro";
import JobEntry from "./JobEntry.astro";

const jobsList = await getCollection("work").then((items) =>
  items.sort((a, b) => b.data.from.getTime() - a.data.from.getTime())
);
---

<CraftLayout title="Work experience">
  <main class="grow relative">
    <div class="w-[30px] text-primary mb-1.5 rocket">
      <Fragment set:html={rocketIcon} />
    </div>
    <ul>
      {
        jobsList.map(async (job, index) => {
          const { Content } = await job.render();

          return (
            <li>
              <JobEntry
                job={job.data}
                className={index === 0 ? "border-t-2" : ""}
              >
                <Content />
              </JobEntry>
            </li>
          );
        })
      }
    </ul>
  </main>
</CraftLayout>

<style>
  .rocket {
    transform: rotate(-45deg);
    position: absolute;
    top: -35px;
  }
</style>
