---
import Summary, { type Item } from "../Summary.astro";

interface Props {
  title: string;
  tech: number;
  skills: number;
  projects: number;
  url: string;
  className?: string;
}

const { skills, projects, title, className, tech, url } = Astro.props;

const relatedItems: Item[] = [
  {
    count: skills,
    forms: ["skill", "skills"],
  },
  {
    count: tech,
    forms: ["technology", "technologies"],
  },
  {
    count: projects,
    forms: ["project", "projects"],
  },
];
---

<div
  class=`bg-card rounded p-4 flex flex-col gap-6 justify-between ${className}`
>
  <header>
    <h2 class="font-bold text-xl">{title}</h2>
  </header>

  <div class="flex flex-col gap-4 text-sm">
    <div>
      <Summary items={relatedItems} />
    </div>

    <p>
      <a class="underline text-primary text-xs" href={url}>Learn more</a>
    </p>
  </div>
</div>

<style></style>
